#top-div {
    background: #000000;
    width: 100%;
    height: 82px;
    padding: 10px 0 12px 0;
    top: 0;
    left: 0;
    margin: 0;
    border-bottom: 2px solid #ffb71b; /* orangey-yellow */
}

#top-div img {
    height: 60px;
    margin: 0;
    padding: 0;
    display: inline-block;
}

#top-div p {
    color: #ffffff;
    padding: 0 0 10px 20px;
    margin: 0;
    font-size: 16px;
    font-family: sans-serif;
    width: auto;
}

#tiles {
    background: #000000 url("../img/ansys-tile-cell.png") top left repeat;
    width: 100%;
    height: 2000px;
    left: 0;
    margin: 0;
    position: absolute;
}

#repos {
    padding: 30px 0;
    margin: 0 0 0 20px;
}

.grid {
    background: #373a36; /* charcoal */
    width: 400px;
    height: 350px;
    padding: 20px;
    float: left;
    margin: 10px 10px;
    border-radius: 10px;
}

.grid a {
    text-decoration: none;
    color: #ffffff;
    font-family: Helvetica, sans-serif;
    text-align: center;
}

.grid a:hover {
    color: #c89211; /* ocher */
    text-decoration: underline;
}

.grid img {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.container {
    width: 100%;
    height: 100px;
    margin: 10px 0;
    padding: 10px;
    position: static;
}